* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

canvas {
    background-color: black;
    height: 50vw;
    width: 50vw;
    margin-right: 10%;

}

#tools {
    border: 1px solid black;
    height: 50vh;
    width: 25vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}